@model List<Luftfartshinder.Models.Domain.Report>
@{
    ViewData["Title"] = "Registrar List";
}

@section Styles {
    <link href="~/css/registrar.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
}


<body>
    <header class="mb-5">
        <div class="h1 text-center">
            List of Reports
        </div>
    </header>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Date</th>
                    <th scope="col">No. of obstacles</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Model[i].Id</td>
                        <td>@Model[i].Title</td>
                        <td>@Model[i].Author</td>
                        <td>@Model[i].ReportDate</td>
                        <td>@Model[i].Obstacles.Count</td>
                        <td>
                            <a class="btn btn-primary" role="button"
                               asp-action="Details"
                               asp-controller="Registrar"
                               asp-route-id="@Model[i].Id"
                               style="vertical-align: middle; text-decoration: none;">
                                View
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>


