@using System.Security.Claims
@model List<Luftfartshinder.Models.Domain.Report>

@{
}

<div class="container mt-5 py-5">
    <header class="h1 text-center">
        Your Obstacles & Reports
    </header>

    <subheader class="display-6">
        Obstacles:
    </subheader>
    <table class="table table-hover mb-5">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Type</th>
                <th scope="col">Name</th>
                <th scope="col">Height</th>
                <th scope="col">Lat</th>
                <th scope="col">Lon</th>
                <th scope="col">Registrar Note</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var r in Model)
            {
                if (r.AuthorId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    @foreach (var o in r.Obstacles)
                    {
                        <tr>
                            <th scope="row">@o.Id</th>
                            <td>@o.Type</td>
                            <td>@o.Name</td>
                            <td>@o.Height</td>
                            <td>@o.Latitude</td>
                            <td>@o.Longitude</td>
                            <td>@o.RegistrarNote</td>
                            <td>@o.Status</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>

    <subheader class="display-6">
        Reports:
    </subheader>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">No. of Obstacles</th>
                <th scope="col">Registrar Note</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var r in Model)
            {
                if (r.AuthorId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    <tr>
                        <th scope="row">@r.Id</th>
                        <td>@r.Title</td>
                        <td>@r.ReportDate</td>
                        <td>@r.Obstacles.Count</td>
                        <td>@r.RegistrarNote</td>
                    </tr>
                    
                }
            }
        </tbody>
    </table>
</div>