@using System.Globalization
@model Luftfartshinder.Models.ViewModel.SessionObstacleDraft
@{
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section Styles {
    <link href="~/css/draft.css" rel="stylesheet" />
    <link href="~/css/draft.css" rel="stylesheet" />

    @* Leaflet *@
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
}

@section Scripts {
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
}

<body>
    <div class="text-center mt-4 pt-4">
        <div class="mb-2 h1">
            Draft Obstacles
        </div>
        <p class="text-muted fw-semibold">Obstacles in draft: @Model.Obstacles.Count</p>

    </div>

    <div style="overflow:auto;" class="container mt-3">
        @if (Model.Obstacles.Count == 0)
        {
            <p class="mb-3">
                Obstacle draft is empty.<br />
                Add obstacles through the map.
            </p>

            <a class="btn btn-lg btn-primary" role="button"
                asp-area=""
                asp-controller="Home"
                asp-action="Index"    
            >Back to Map</a>

        }
        else
        {
            @for (var i = 0; i < Model.Obstacles.Count; i++)
            {
                var o = Model.Obstacles[i];
                <div class="card mb-4 box-shadow shadow" style="width: 100%;">
                    <div class="card-header">
                        <h4 class="card-title">@o.Name</h4>
                    </div>
                    <div class="card-body" style="height: 45vh;">
                        <div class="row">
                            <div class="col">
                                <dl class="row g-1 " style="width: 60%;">
                                    <dt class="col-lg-6">#</dt>
                                    <dd class="col-lg-6">@(i + 1)</dd>

                                    <dt class="col-lg-6">Type</dt>
                                    <dd class="col-lg-6">@o.Type</dd>

                                    <dt class="col-lg-6">Height</dt>
                                    <dd class="col-lg-6 ">@o.Height</dd>

                                    <dt class="col-lg-6">Description</dt>
                                    <dd class="col-lg-6">@o.Description</dd>
                                </dl>

                            </div>

                            <div class="col" style="height: 30vh;">
                                <div class="col-md-6 h-100 w-100">
                                <!-- unique container for this obstacle -->
                                    <div class="obstacle-map"
                                         data-lat="@o.Latitude.ToString(CultureInfo.InvariantCulture)"
                                         data-lng="@o.Longitude.ToString(CultureInfo.InvariantCulture)"
                                         id="map-@i">
                                    </div>
                                </div>

                                @{
                                    string formattedLatitude = String.Format("{0:0.000000}", o.Latitude);
                                    string formattedLongitude = String.Format("{0:0.000000}", o.Longitude);
                                }
                                

                                <p>
                                    <strong>Latitude:</strong> @formattedLatitude <br>
                                    <strong>Longitude:</strong> @formattedLongitude
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <a class="btn btn-outline-primary shadow" role="button"
                           asp-action="EditObstacle"
                           asp-controller="Obstacles"
                           asp-route-index="@i"
                           style="vertical-align: middle; text-decoration: none;">
                            Edit
                            <span class="material-symbols-outlined inline-icon">
                                edit
                            </span>
                        </a>

                    </div>
                </div>
            }

            // Submit or Clear
            <div class="mb-5">
                <p class="text-muted">Review the obstacles above before submitting them for review.</p>
                <form asp-action="SubmitDraft" asp-controller="Obstacles" method="post" class="d-inline">
                    @Html.AntiForgeryToken()
                    <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                </form>

                <form asp-action="ClearDraft" asp-controller="Obstacles" method="post" class="d-inline ms-2">
                    @Html.AntiForgeryToken()
                    <button class="btn btn-outline-danger btn-sm" type="submit">Clear Draft</button>
                </form>
            </div>
        }

    </div>

    <script src="~/js/draft.js"></script>
</body>